	<header id="header" class="header-fullwidth">
			<div id="header-wrap">
				<div class="container">

					<!--LOGO-->
					<div id="logo">
						<a href="index.html" class="logo" data-dark-logo="images/logo-dark.png">
							<img src="#" alt="Logo">
						</a>
					</div>
					<!--END: LOGO-->

					<!--MOBILE MENU -->
					<div class="nav-main-menu-responsive">
						<button class="lines-button x" type="button" data-toggle="collapse" data-target=".main-menu-collapse">
							<span class="lines"></span>
						</button>
					</div>
					<!--END: MOBILE MENU -->

					<!--SHOPPING CART -->
					<div id="shopping-cart">
						<span class="shopping-cart-items">8</span>
						<a href="shop-cart.html"><i class="fa fa-shopping-cart"></i></a>
					</div>
					<!--END: SHOPPING CART -->

					<!--TOP SEARCH -->
					<div id="top-search"> <a id="top-search-trigger"><i class="fa fa-search"></i><i class="fa fa-close"></i></a>
						<form action="search-results-page.html" method="get">
							<input type="text" name="q" class="form-control" value="" placeholder="Start typing & press  &quot;Enter&quot;">
						</form>
					</div>
					<!--END: TOP SEARCH -->

					<!--NAVIGATION-->
					<div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
						<div class="container">
							<nav id="mainMenu" class="main-menu mega-menu">
								<ul class="main-menu nav nav-pills">
									<li class="dropdown"><a href="index.html"><i class="fa fa-home"></i></a>
									</li>
										<li class="dropdown"> <a href="#">Features <i class="fa fa-angle-down"></i> </a>
										<ul class="dropdown-menu">
											<li class="dropdown-submenu"> <a href="#">Headers</a>
												<ul class="dropdown-menu">
                        							<li><a href="header-transparent.html">Transparent</a></li>
        
                      							</ul>
											</li>
											<li class="dropdown-submenu"> <a href="#">Sliders</a>
												<ul class="dropdown-menu">

													<li><a href="">Revolution Slider</a></li>
													<li><a href="">OWL Slider</a></li>

													<li><a href="">Fullscreen Image</a></li>
													<li><a href="">Fullscreen Parallax</a></li>
													<li><a href="" class="current">Fullscreen Text Rotator</a></li>
													<li><a href="">Fullscreen HTML5 Video</a></li>

												</ul>
											</li>

											<li class="dropdown-submenu"> <a href="#">Interior</a>
												<ul class="dropdown-menu">
													<li><a href="#">Seats</a> </li>
			
													<!--<li><a href="page-title-small.html">Small version</a> </li>-->
												</ul>
											</li>
											<li class="dropdown-submenu"> <a href="#">Engine Parts</a>
												<ul class="dropdown-menu">
													<li><a href="#">Level 2 </a> </li>
											
													<li><a href="shop-single-product-sidebar-left.html">Shop products</a> </li>
												</ul>
											</li>

									
										
										</ul>
									</li>
									<li><a href="http://www.inspirothemes.com/polo/preview/index.html">Layouts<span class="label label-danger infinit">HOT</span></a></li>
									 
							
					
						
								</ul>
							</nav>
						</div>
					</div>
					<!--END: NAVIGATION-->
				</div>
			</div>
		</header>
	