	<!-- TOPBAR -->
		<div id="topbar" class="topbar-fullwidth">
			<div class="container">
    		<div class="topbar-dropdown hidden-xs">
					<div class="title"><i class="fa fa-phone"></i>Any question? Call Us <a href="tel:+987123654"><b>+987 123 654</b></a></div>
				</div>

				<div class="topbar-dropdown hidden-xs float-right">
					<div class="title"><i class="fa fa-user"></i><a href="#">Login</a></div>


					<div class="topbar-form">
						<form>
							<div class="form-group">
								<label class="sr-only">Username or Email</label>
								<input type="text" placeholder="Username or Email" class="form-control">

							</div>
							<div class="form-group">
								<label class="sr-only">Password</label>
								<input type="password" placeholder="Password" class="form-control">
							</div>
							<div class="form-inline form-group">
								<div class="checkbox">
									<label>
										<input type="checkbox">
										<small> Remember me</small> </label>
								</div>
								<button type="button" class="btn btn-primary btn-block">Login</button>
							</div>
						</form>
					</div>
				</div>
				<!--<div class="row">
					<div class="col-sm-6 p-t-10">
						<span><strong>Call us:</strong>+1 2345-678-91011 | <strong>Email:</strong> info@domain.com</span>
					</div>
					<div class="col-sm-6 social-icons text-right hidden-xs">
						<div class="topbar-links">
							<ul>
								<li>
									
								</li>
							</ul>
						</div>
					</div>
				</div>-->
			</div>
		</div>